body {
  background: #ccc;
  color: #fff;
  /* color: black; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  font-weight: bold;
}

#container {
  width: 520px;
  margin: 38px auto;
}

#board {
  list-style: none;
  margin: 0 0 64px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

#board li {
  background: #00aaff;
  width: 140px;
  height: 140px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 140px;
  text-align: center;
  box-shadow: 0 4px 0 #0088cc;
}

#board li.pressed {
  /* background: #ccc; */
  background: rgb(245, 241, 241);
  box-shadow: none;
  margin-top: 9px;
  margin-bottom: 1px;
}

#timer {
  margin-bottom: 8px;
  font-size: 20px;
  text-align: right;
}

#btn {
  cursor: pointer;
  user-select: none;
  background: #f44336;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
}

#btn:active {
  margin-top: 12px;
  box-shadow: none;
}